<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 20pt;">
      Sarajevo
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; color: white; font-weight: 100;">
    <ion-label>Updated on: {{lastUpdateDate}}</ion-label>
  </div>

  <ion-slides>
    <ion-slide>
      <app-weather-details [forecast]="forecast"></app-weather-details>
    </ion-slide>

    <ion-slide>
      <app-weather-details [forecast]="forecast"></app-weather-details>
    </ion-slide>
  </ion-slides>

</ion-content>